@import "mixins";

.about {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 148px;
    padding-left: 148px;

    @media (max-width: 1000px) {
        padding-right: 80px;
        padding-left: 80px;
        padding-top: 50px;
        flex-direction: column;
        align-items: flex-start;;
    }
    @media (max-width: 700px) {
        padding-right: 60px;
        padding-left: 60px;
    }
    @media (max-width: 450px) {
        padding-right: 30px;
        padding-left: 30px;
    }

    svg {
        width: 40%;
        height: auto;

        @media (max-width: 450px) {
            width: 70%;
        }
    }
    .info_text {
        margin-top: 90px;
        margin-bottom: 90px;
        width: 45%;

        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 70px;
            margin-bottom: 70px;
        }

        h3, p {
            color: #FFFF;
        }
        p {
            margin-top: 56px;
            line-height: 1.6;
        }
        h3 {
            position: relative;
        
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: -27px;
                height: 2px;
                width: 200px;
                background-color: $brandcolor1;     
            }
        }
        article {
            display: flex;
            margin-top: 36px;

            @media (max-width: 450px) {
                flex-direction: column;
            }
            
            .bubble {
                background-color: $brandcolor1;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 20px;
                flex-shrink: 0;

                @media (max-width: 450px) {
                    margin-bottom: 20px;
                }

                svg {
                    position: absolute;
                    width: 50%;
                    @include centered;
                }
            }
            .article_text {
                margin-top: 0;
                margin-bottom: 0;

                h5 {
                    color: #FFFF;

                    @media (max-width: 450px) {
                        margin-bottom: 10px;
                    }
                }
                p {
                    margin-top: 0;
                    text-align: justify;
                    line-height: 1.6;

                    @media (max-width: 450px) {
                        text-align: left;
                    }
                }
            }
        }
    }
}