.contact {
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: $brandcolor1;
    min-height: 80vh;

    @media (max-width: 1000px) {
        height: auto;
    }

    .container {
        @include container-max;
        @include section-centered;

        h2 {
            @include headline-uppercase;
            color: #FFFF;
            
            &::after {
                @include headline-after;
                background-color: $brandcolor2; 
            }
        }
        p {
            color: #FFFF;
            @include headline-paragraph;
        }
        form {
            background-color: #ffff;
            padding-top: 33px;
            padding-right: 65px;
            padding-bottom: 33px;
            padding-left: 65px;
            border-radius: 5px;
            margin-top: 27px;
            box-shadow: 0px 5px 6px #000000;
    
            @media (max-width: 450px) {
                padding-right: 30px;
                padding-left: 30px;
            }
            @media (max-width: 350px) {
                padding-right: 15px;
                padding-left: 15px;
            }
    
            .details_input {
                input {
                    @include details-input; 
                }
            }
            .radio_input {
                margin-top: 17px;
                margin-bottom: 42px;
    
                label {
                    @include form-label;
    
                    &:hover {
                        font-weight: bold;
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
    
                        &:checked ~ span:after {
                            display: block;
                        }
                        &:checked ~ span {
                            opacity: 1;
                        }
                    }
                    span {
                        position: absolute;
                        top: 0;
                        left: -15px;
                        width: 11.71px;
                        height: 11.71px;
                        border-radius: 50%;
                        border: 1px solid $brandcolor2;
                        opacity: 0.5;
    
                        &:after {
                            content: "";
                            position: absolute;
                            @include centered;
                            display: none;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: $brandcolor2;
                        }
                    }     
                }
            }
            button {
                @include form-button;
                width: 148px;
                height: 48px;
                border-radius: 5px;
                transform: translateX(40%);
            }
        }
        ::placeholder {
            color: #707070;
        }
    }
}