.contact {
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: $brandcolor1;
    min-height: calc(100vh - 76px - 120px);

    .container {
        @include section-centered;

        h2 {
            @include headline-uppercase;
            color: #FFFF;
            
            &::after {
                @include headline-after;
                background-color: $brandcolor2; 
            }
        }
        p {
            color: #FFFF;
            @include headline-paragraph;
        }
        .contact_form {
            background-color: #ffff;
            padding-top: 33px;
            padding-right: 65px;
            padding-bottom: 33px;
            padding-left: 65px;
            border-radius: 5px;
            margin-top: 27px;
            box-shadow: 0px 5px 6px rgba(0,0,0,0.16);
    
            @media (max-width: 450px) {
                padding-right: 20px;
                padding-left: 20px;
            }
            @media (max-width: 350px) {
                padding-right: 10px;
                padding-left: 10px;
            }

            .details_input {
                .input_with_warning {

                    &:first-child {
                        margin-top: 20px;
                    }
                    
                    input {
                        @include details-input; 

                        &.alerted {
                            border: 1px solid red;
                        }
                    }
                    .warning {
                        font-size: 12px;
                        height: 20px;
                        color: red;
                        padding-left: 10px;
                        text-align: left;
                        margin: 0;
                    }
                }
            }
            .radio_input {
                margin-bottom: 42px;
    
                input {
                    position: absolute;
                    opacity: 0;

                    & + label {
                        position: relative;
                        cursor: pointer;
                        display: inline-block;
                        line-height: 14px;
                        margin-left: 0;
                        padding-left: 20px;
                    }
                    &:checked + label {
                        font-weight: bold;
                    }

                    & + label::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        border: 1px solid $brandcolor2;
                        opacity: 0.5;
                    }

                    &:checked + label::before {
                        opacity: 1;
                    }

                    &:checked + label::after {
                        content: "";
                        position: absolute;
                        left: 4.5px;
                        transform: translateX(-50%);
                        top: 50%;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background-color: $brandcolor2;
                    }                      
                }     
                label {
                    @include form-label;  
                }
            }
            button {
                @include form-button;
                width: 148px;
                height: 48px;
                border-radius: 5px;
                transform: translateX(40%);
                font-weight: bold;

                &:active {
                    background-color: #fff;
                    color: $brandcolor2;
                    border: 2px solid $brandcolor2;
                }
            }
        }
        ::placeholder {
            color: #707070;
        }
    }
}