@import "mixins";

$brandcolor1: #E27866;
$brandcolor2: #41D395;
$brandcolor3: #6696E2;

.features {
    padding-top: 100px;
    padding-bottom: 100px;
    @include section-centered;
    
    h2 {
        @include headline-uppercase;

        &::after {
            @include headline-after;
            background-color: $brandcolor1; 
        }
    }
    p {
        @include headline-paragraph;
        color: #86878B;
    }
    .features_grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .feature_block {
            text-align: center;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 65px;

            .picture_circle {
                width: 50px;
                height: 50px;
                border: 1px solid $brandcolor1;
                border-radius: 50%; 
                position: relative;
                
                svg {
                    position: absolute;
                    width: 50%;
                    @include centered;
                }
            }
            h4 {
                font-weight: normal;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p {
                margin-top: 0;
                line-height: 1.6;
            }
        }
    }
}
