nav a {
    font-size: 14px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
.hero p {
    font-size: 16px;
}
.reviews p {
    font-size: 16px;
}
footer p {
    font-size: 18px;
}
li {
    font-size: 14px;
}
.hero button {
    font-size: 14px;
}
.subscription button {
    font-size: 18px;
}
.contact button {
    font-size: 15px;
}
label {
    font-size: 9px;
}
::placeholder {
    font-size: 12px;
    color: #D8D8D8;
    padding-left: 10px;
}
.name {
    font-size: 20px;
}
.occupation {
    font-size: 14px;
}