.desktop_menu li {
    font-size: 14px;
    @media (max-width: 450px) {
        font-size: 16px;
    }
}
h2 {
    font-size: 36px;
    @media (max-width: 450px) {
        font-size: 28px;
    }
}
h3 {
    font-size: 30px;
    @media (max-width: 450px) {
        font-size: 24px;
    }
}
h4 {
    font-size: 20px;
    @media (max-width: 450px) {
        font-size: 18px;
    }
}
h5 {
    font-size: 14px;
    @media (max-width: 450px) {
        font-size: 16px;
    }
}
p {
    font-size: 14px;
    @media (max-width: 450px) {
        font-size: 16px;
    }
}
.hero p, .reviews p {
    font-size: 16px;
}
footer p {
    font-size: 18px;
    @media (max-width: 620px) {
        font-size: 14px;
    }
}
th, td {
    font-size: 14px;
}
.hero button {
    font-size: 14px;
}
.subscription_form button {
    font-size: 18px;
}
.contact button {
    font-size: 15px;
}
label {
    font-size: 9px;
    @media (max-width: 800px) {
        font-size: 12px;
    }
}
::placeholder {
    font-size: 12px;
    @media (max-width: 800px) {
        font-size: 16px;
    }
}
.name {
    font-size: 20px;
}
.occupation {
    font-size: 14px;
    @media (max-width: 800px) {
        font-size: 16px;
    }
}
.card p {
    font-size: 35px;
}
.card p span {
    font-size: 94px;
}
li {
    font-size: 16px;
}
.nav-block span {
    font-size: 14px;
    @media (max-width: 800px) {
        font-size: 16px;
    }
}
input {
    font-size: 12px;
    @media (max-width: 800px) {
        font-size: 16px;
    }
}
.chat_bubble {
    font-size: 16px;
}