footer {
    background-color: #1C1C1C;
    height: 120px;
    display: flex;
    align-items: center;

    .container {
        @include container-max;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 620px) {
            flex-direction: column;
        }

        .social {
            @include social-spacing;
    
            @media (max-width: 620px) {
                width: 100%;
                justify-content: space-around;
            }
            svg {
                height: 20px;
            }
        }
        p {
            color: #707070;
    
            @media (max-width: 620px) {
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
}