.hero {
    margin-top: 76px;
    background-image: url(images/miestas-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 76px - 104px);
    position: relative;
    display: flex;
    align-items: center;

    .container {
        .shadow {
            background-color: #1C1C1C;
            opacity: 0.63;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            @media (max-width: 1000px) {
                flex-direction: column;
            }
    
            .intro {
                max-width: 557px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 40px;
                
                @media (max-width: 1000px) {
                    width: 100%;
                    margin-right: 0;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 40px;
                }
    
                svg {
                    width: 44%; 
                    height: auto;
                    margin-bottom: 20px;
    
                    @media (max-width: 1000px) {
                        width: 35%;
                        margin-top: 20px;
                    }
                    @media (max-width: 700px) {
                        width: 30%; 
                    }
                    @media (max-width: 450px) {
                        width: 50%;
                    }
                }
                h2, p {
                    color: #FFF;
                    font-weight: bold;
                }
                h2 {
                    position: relative;
    
                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        bottom: -22px;
                        left: 0;
                        height: 2px;
                        width: 80px;
                        background-color: #FFF;
                        
                        @media (max-width: 1000px) {
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                p {
                    margin-top: 51px;
                    opacity: 0.8;
                    line-height: 1.6;

                    @media (max-width: 1000px) {
                        margin-top: 35px;
                    }
                }
                button {
                    width: 135px;
                    height: 42px;
                    margin-top: 20px;
                    border: 2px solid #FFF;
                    color: #FFF;
                    background-color: transparent;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
    
                    &:active {
                        border: 2px solid #1C1C1C;
                        color: #1C1C1C;
                        background-color: #FFF;
                        font-weight: bold;
                    }
                }
            }
            .subscription_form {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 5px;
                z-index: 1;
                box-shadow: 0px 5px 20px rgba(0,0,0,0.16);

                @media (max-width: 1000px) {
                    margin-bottom: 40px;
                }
  
                h4, button {
                    height: 57px;
                }
                h4, p, .details_input, .radio_input, button {
                    padding-left: 50px;
                    padding-right: 50px;
    
                    @media (max-width: 450px) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                        
                    @media (max-width: 350px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                h4 {
                    background-color: #F5F5F5;
                    padding-top: 15px;
                    border-radius: 5px 5px 0 0;
                    margin-bottom: 20px;
    
                    span {
                        color: $brandcolor1;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .details_input {
                    .input_with_warning {

                        &:first-child {
                            margin-top: 20px;
                        }

                        input {
                            @include details-input; 
    
                            &.alerted {
                                border: 1px solid red;
                            }
                        }
                        .warning {
                            font-size: 12px;
                            height: 20px;
                            color: red;
                            padding-left: 10px;
                        }
                    }
                }
                .radio_input {
                    margin-top: 17px;
                    margin-bottom: 42px;
    
                    @media (max-width: 1000px) {
                        margin-bottom: 17px;
                    }
                    
                    input {
                        position: absolute;
                        opacity: 0;
                        border: 2px solid red;

                        & + label {
                            position: relative;
                            cursor: pointer;
                            display: inline-block;
                            line-height: 14px;
                            margin-left: 0;
                            padding-left: 20px;
                        }
                        &:checked + label {
                            font-weight: bold;
                        }

                        & + label::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 1px solid $brandcolor2;
                            opacity: 0.5;
                        }

                        &:checked + label::before {
                            opacity: 1;
                        }

                        &:checked + label::after {
                            content: "";
                            position: absolute;
                            left: 4.5px;
                            transform: translateX(-50%);
                            top: 50%;
                            transform: translateY(-50%);
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $brandcolor2;
                        }                      
                    }     
                    label {
                        @include form-label;  
                    }
                }
                .headline {
                    padding-top: 5px;
                    font-weight: bold;
                }
                button {
                    @include form-button;
                    width: 100%;
                    border-radius: 0 0 5px 5px;
                    font-weight: bold;

                    &:active {
                        background-color: #fff;
                        color: $brandcolor2;
                        border: 2px solid $brandcolor2;
                    }
                }
            }
        }
        ::placeholder {
            color: #D8D8D8;
        }
    }
}

    
