@mixin headline-after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -21px;
    height: 2px;
    width: 64px;
  }

  @mixin headline-uppercase {
    text-transform: uppercase;
    position: relative;
    text-align: center;
  }

  @mixin headline-paragraph {
    margin-top: 50px;
    text-align: center;
  }

  @mixin section-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @mixin centered {
    left: 25%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
  }

  @mixin form-label {
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
  }

  @mixin details-input {
    width: 260px;
    height: 49px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    outline: none;
    padding-left: 10px;
  }

  @mixin form-button {
    background-color: $brandcolor2;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  @mixin social-spacing {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  @mixin grid_layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @mixin container-max {
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }

