@import "mixins";

$brandcolor1: #E27866;
$brandcolor2: #41D395;
$brandcolor3: #6696E2;

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $brandcolor3;
    @include section-centered;

    h2 {
        @include headline-uppercase;
        color: #ffff;

        &::after {
            @include headline-after;
            background-color: $brandcolor2; 
        }
    }
    p {
        @include headline-paragraph;
        color: #ffff;
    }
    .pricing_cards {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .card {
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 300px;
            border-radius: 5px;

            .card_head {
                background-color: #1C1C1C;
                border-radius: 5px 5px 0 0;

                h4, p, h5 {
                    color: #ffff;
                    text-align: center;
                }
                h4 {
                    font-weight: normal;
                    padding-top: 14px;
                    margin-bottom: 13px;
                }
                h5 {
                    padding-bottom: 19px;
                    font-weight: normal;
                }
                p {
                    margin-top: 0;
                }
            }
            table {
                text-align: center;
                border-collapse: collapse;
                width: 300px;

                thead {
                    th {
                        color: #ffff;
                        font-weight: normal;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background-color: $brandcolor2;
                        margin: 0;
                        text-transform: uppercase;
                    }
                }     
                .narrow_head {
                    th {
                        padding-top: 6px;
                        padding-bottom: 0;
                    }
                } 
                td {
                    background-color: #ffff;
                    text-transform: uppercase;
                    height: 40px;
                    color: #86878B;
                }
                tr:last-child td:last-child {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}