@import "mixins";

$brandcolor1: #E27866;
$brandcolor2: #41D395;
$brandcolor3: #6696E2;


.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
    @include section-centered;

    h2 {
        @include headline-uppercase;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 40%;
            bottom: -21px;
            height: 2px;
            width: 64px;
            background-color: $brandcolor3; 
        }
    }
}