.social_media {
    padding-top: 18px;
    padding-right: 148px;
    padding-bottom: 18px;
    padding-left: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h4 {
        color: #333333;
    }
    p {
        color: #86878B;
        line-height: 1.6;
    }
    .social {
        display: flex;
    
        svg {
            margin-left: 105px;
        }
    }
}


