@import "font_size";
@import "header";
@import "hero";
@import "social_media";
@import "gallery";
@import "about";
@import "features";
@import "pricing";
@import "reviews";
@import "mixins";
@import "contact";
@import "footer";

$brandcolor1: #E27866;
$brandcolor2: #41D395;
$brandcolor3: #6696E2;

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
main {
    margin-top: 72px;
}

