* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
::placeholder {
    font-size: 12px;
}
